.modal {
    &[data-pc-name="dialog"] {
        margin: 0;
        border-radius: 24px;
    }
    [data-pc-section="content"] {
        padding: 16px;
    }
    [data-pc-section="header"] {
        padding: 40px 40px 0 40px;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }
}
.isCenter{
    [data-pc-section="content"] {
        padding: 24px 40px 40px 40px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
    }
}
.header-btn {
    &:focus,
    &:active,
    &:hover {
        background: none;
        border: none;
        box-shadow: none;
    }
}
.content {
    min-height: 50px;
}
.isMobile {
    [data-pc-section="header"] {
        border-top-right-radius: 24px;
        border-top-left-radius: 24px;
        border-bottom: none;
    }
    [data-pc-section="content"] {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    margin: 0;
}
