$breakpoints: (
    'small': 576px,
    'medium': 768px,
    'large': 992px,
    'xlarge': 1200px,
);

.container {
    max-width: 1575px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    height: 100%;

    @each $breakpoint, $size in $breakpoints {
        @media (max-width: $size) {
            max-width: $size;
        }
    }
}
