$gradient-primary: linear-gradient(83.96deg, #45c4f9 0%, #7d09ff 50.33%, #ff0be5 100%);
$color-purple: rgb(123, 104, 238);
$color-purple-blue: rgba(100, 84, 199);
$color-silver-crayola: rgba(205, 197, 194);
