.header{
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  .wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 24px 14px;
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;

  }
.logo-label{
  span{
    color: #000000 !important;
  }

}
  .nav{
    display: flex;
    align-items: center;
    gap: 60px;

    .menu{
    &[data-pc-name="menubar"]{
      background: none;
      border: none;
    }
      [data-pc-section="submenu"]{
        width: 250px;
      }
    }

    .link{
      font-family: Mulish, sans-serif;
      font-weight: 500;
      font-size: 18px;
      line-height: 140%;
      color: #000000;
      text-decoration: none;
    }
  }
  .contacts{
    display: flex;
    align-items: center;
    gap: 24px;
    font-family: Mulish, sans-serif;


    a{
      text-decoration: none;
      color: #000000;
    }


    .phone{
      font-weight: 700;
      font-size: 18px;
      line-height: 120%;
    }
    .email{
      font-weight: 500;
      font-size: 18px;
      line-height: 140%;
      border-bottom: 1px dashed #000;
    }
  }
}
