.side-bar{
  max-width: 345px;
  width: 100%;
  height: 100%;
  padding: 20px 0px;
  background:  #48494f;
  .wrapper-side{
    display: flex;
    flex-direction: column;
    height: 100%;
    .hidden{
      opacity: 0;
      pointer-events: none;
    }
  }

  &__logo{
    display: flex;
    align-items: center;
    gap: 14px;
    margin-bottom: 40px;
    padding: 0 30px;
    cursor: pointer;
    .logo{
      width: 38px;
      height: 47px;
      filter: grayscale(1);
    }

    .side-bar__text{
      display: flex;
      flex-direction: column;
      gap: 4px;
      .title{
        font-family: "Mulish", sans-serif;
        font-weight: 800;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.1px;
        color: #FFFFFF;
      }
      .label{
        font-family: "Mulish", sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.1px;
        color: #FFFFFF;
      }
    }
  }

  &__links{
    display: flex;
    flex-direction: column;
    .side-bar__link{
      display: flex;
      align-items: center;
      font-family: "Mulish", sans-serif;
      font-weight: 500;
      font-size: 20px;
      line-height: 20px;
      letter-spacing: 0.1px;
      color: #FFFFFF;
      text-decoration: none;
      cursor: pointer;
      height: 68px;
      padding: 0 30px;

      &:hover{
        background: #828282;
      }
    }
    .context-link{
      cursor: default;
      gap: 6px;
    }
  }


  &__contacts{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    gap: 20px;
    padding: 0 30px;
    .email{
      font-family: "Mulish", sans-serif;
      font-weight: 500;
      font-size: 18px;
      line-height: 20px;
      letter-spacing: 0.1px;
      color: #FFFFFF;
      text-decoration: dotted;
    }
    .phone{
      font-family: "Mulish", sans-serif;
      font-weight: 700;
      font-size: 18px;
      line-height: 20px;
      letter-spacing: 0.1px;
      color: #FFFFFF;
      text-decoration: none;
    }
    .work-time{
      display: flex;
      flex-direction: column;
      gap: 4px;
      .title{
        font-family: "Mulish", sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.1px;
        color: #FFFFFF;
      }
     .label{
       font-family: "Mulish", sans-serif;
       font-weight: 700;
       font-size: 18px;
       line-height: 20px;
       letter-spacing: 0.1px;
       color: #FFFFFF;
     }
    }
  }
}